
h1,h2,h3,h4{
  margin-bottom: 0px;
}

h2{
  margin-top: 0px;
}

section{
  padding: 30px;
  margin: 10px;
  border-radius: var(--border-radius);
  background-color: var(--bg-highlight);
 

}

.main-content {
  display: flex;
  flex-direction: row;
  /* background-color: DodgerBlue; */
}

.main-content  > div  {
  /* background-color: #f1f1f1; */
  
  padding: 10px;
}

.main-content  > .main-content-left  {
  /* background-color: rgb(248, 30, 255); */
  flex: 70%;
}

.main-content  > .main-content-right  {
  /* background-color: rgb(30, 255, 113); */
  flex: 30%;
}













@media (max-width: 1000px) {
  .main-content {
    flex-direction: column;
  }

  .main-content-left {
   
    width: 96%;
  }
}
